<!DOCTYPE html>
<html>
    <head>
      <title>MOVE log</title>

      <link href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700italic|Oswald' rel='stylesheet' type='text/css'>
  <link href="styles/main.css" rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="vendor.bundle.js" type="text/javascript" charset="utf-8" defer></script>
  <script src="bundle.js" type="text/javascript" charset="utf-8" defer></script>


<script src="js/vendor/angular.min.js"></script>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
    </head>
    <body ng-app="MoveLogApp">
    <div class="header">
      <div class="container">
        MOVE Log
      </div>
    </div>

    <div class="main" ng-controller="MainController">
      <div class="container">




        <div class="row" ng-repeat="exercise in exercises">
          <div class="exercise-icon col-xs-2">
          <!-- <img ng-src="{{ exercise.icon }}" -->
          </div>

          <div class="col-xs-6" >

            <p class="exercise-name"> {{ exercise.name }} </p>
          </div>

         <div class="col-xs-4 counters">
            <span class="decrease" ng-click="decrease($index)">-</span>
           <span class="count"> {{ exercise.count }} </span>

           <span class="increase" ng-click="increase($index)">+</span>
          </div>
        </div>


      </div>
    </div>

    <div class="footer">
      <div class="container">
      </div>
    </div>

    <!-- Modules -->
    <script src="scripts/app.js"></script>

    <!-- Controllers -->
    <script src="scripts/controllers/MainController.js"></script>

  </body>
</html>
